## Setup

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

## 1. Scraping NHL Teams

Retrieve information about all NHL teams including their names, IDs, and locations.

In [2]:
from scrapernhl.scrapers.teams import scrapeTeams

# Get all NHL teams
teams = scrapeTeams()
print(f"Found {len(teams)} teams")

# Display selected columns
display(teams[['name.default', 'abbrev','id', 'placeName.default', 'commonName.default']].head(10))

Found 32 teams

          name.default abbrev  id placeName.default commonName.default
0    New Jersey Devils    NJD   1        New Jersey             Devils
1   New York Islanders    NYI   2      NY Islanders          Islanders
2     New York Rangers    NYR   3        NY Rangers            Rangers
3  Philadelphia Flyers    PHI   4      Philadelphia             Flyers
4  Pittsburgh Penguins    PIT   5        Pittsburgh           Penguins
5        Boston Bruins    BOS   6            Boston             Bruins
6       Buffalo Sabres    BUF   7           Buffalo             Sabres
7   Montréal Canadiens    MTL   8          Montréal          Canadiens
8      Ottawa Senators    OTT   9            Ottawa           Senators
9  Toronto Maple Leafs    TOR  10           Toronto        Maple Leafs

## 2. Scraping Team Schedule

Get the complete schedule for a specific team and season, including game dates, opponents, scores, and game states.

In [ ]:
from scrapernhl.scrapers.schedule import scrapeSchedule

# Get Montreal Canadiens schedule for current season
schedule = scrapeSchedule("MTL", "20252026")
print(f"MTL has {len(schedule)} games this season")

# Show first 5 games with key information
display(schedule[['gameDate', 'gameType', 'homeTeam.abbrev', 'homeTeam.score',
                  'awayTeam.abbrev', 'awayTeam.score', 'gameOutcome.lastPeriodType', 'gameState']].head())

MTL has 88 games this season

,gameDate,gameType,homeTeam.abbrev,homeTeam.score,awayTeam.abbrev,awayTeam.score,gameOutcome.lastPeriodType,gameState
0,2025-09-22,1,MTL,2.00,PIT,1.00,SO,FINAL
1,2025-09-23,1,MTL,4.00,PHI,2.00,REG,FINAL
2,2025-09-25,1,MTL,2.00,TOR,7.00,REG,FINAL
3,2025-09-27,1,TOR,2.00,MTL,4.00,REG,FINAL
4,2025-09-30,1,OTT,0.00,MTL,5.00,REG,FINAL

## 3. Current Standings

Fetch the league standings for a specific date, including wins, losses, points, and point percentage.

In [ ]:
from scrapernhl.scrapers.standings import scrapeStandings
from datetime import datetime

# Get current standings
today = datetime.now().strftime("%Y-%m-%d")
standings = scrapeStandings(today)

print(f"Standings as of {today}:")
display(standings[['teamName.default', 'teamAbbrev.default', 'gamesPlayed', 'wins', 'losses', 'otLosses', 'points', 'pointPctg', 'date']]
        .sort_values(by='pointPctg', ascending=False)
        .head(10))

Standings as of 2025-12-30:

,teamName.default,teamAbbrev.default,gamesPlayed,wins,losses,otLosses,points,pointPctg,date
0,Colorado Avalanche,COL,38,29,2,7,65,0.86,2025-12-30
1,Dallas Stars,DAL,39,25,7,7,57,0.73,2025-12-30
2,Minnesota Wild,MIN,40,24,10,6,54,0.68,2025-12-30
3,Carolina Hurricanes,CAR,38,24,11,3,51,0.67,2025-12-30
5,Tampa Bay Lightning,TBL,38,22,13,3,47,0.62,2025-12-30
4,Detroit Red Wings,DET,40,23,14,3,49,0.61,2025-12-30
9,Vegas Golden Knights,VGK,37,17,9,11,45,0.61,2025-12-30
10,Philadelphia Flyers,PHI,37,19,11,7,45,0.61,2025-12-30
6,Montréal Canadiens,MTL,38,20,12,6,46,0.61,2025-12-30
7,New York Islanders,NYI,39,21,14,4,46,0.59,2025-12-30

## 4. Team Roster

Get the complete roster for a team, including player names, positions, physical attributes, and biographical information.

In [ ]:
from scrapernhl.scrapers.roster import scrapeRoster

# Get Montreal Canadiens roster
roster = scrapeRoster("MTL", "20252026")

# Separate by position
forwards = roster[roster['positionCode'].isin(['C', 'L', 'R'])]  # Forwards: Centers, Left Wings, Right Wings
defensemen = roster[roster['positionCode'] == 'D']
goalies = roster[roster['positionCode'] == 'G']

print(f"Forwards: {len(forwards)}, Defense: {len(defensemen)}, Goalies: {len(goalies)}")

print("\nForwards:")
display(forwards[['id', 'firstName.default', 'lastName.default', 'positionCode', 'shootsCatches', 
                  'sweaterNumber', 'heightInInches', 'weightInPounds', 'birthDate', 'birthCountry']]
        .assign(team="MTL")
        .head(10))

Forwards: 17, Defense: 8, Goalies: 3

Forwards:

,id,firstName.default,lastName.default,positionCode,shootsCatches,sweaterNumber,heightInInches,weightInPounds,birthDate,birthCountry,scrapedOn,team
0,8476981,Josh,Anderson,R,R,17,75,226,1994-05-07,CAN,2025-12-30T20:52:08.909312,MTL
1,8483424,Owen,Beck,C,R,62,72,199,2004-02-03,CAN,2025-12-30T20:52:08.909312,MTL
2,8478104,Sammy,Blais,L,L,27,74,206,1996-06-17,CAN,2025-12-30T20:52:08.909312,MTL
3,8482737,Zachary,Bolduc,R,L,76,72,187,2003-02-24,CAN,2025-12-30T20:52:08.909312,MTL
4,8481540,Cole,Caufield,R,R,13,68,175,2001-01-02,USA,2025-12-30T20:52:08.909312,MTL
5,8481523,Kirby,Dach,C,R,77,76,221,2001-01-21,CAN,2025-12-30T20:52:08.909312,MTL
6,8476479,Phillip,Danault,C,L,24,73,200,1993-02-24,CAN,2025-12-30T20:52:08.909312,MTL
7,8484984,Ivan,Demidov,R,L,93,73,192,2005-12-10,RUS,2025-12-30T20:52:08.909312,MTL
8,8478133,Jake,Evans,C,R,71,72,190,1996-06-02,CAN,2025-12-30T20:52:08.909312,MTL
9,8475848,Brendan,Gallagher,R,R,11,69,185,1992-05-06,CAN,2025-12-30T20:52:08.909312,MTL

## 5. Player Statistics

Scrape player statistics for both skaters and goalies, including goals, assists, points, wins, and save percentage.

In [ ]:
from scrapernhl.scrapers.stats import scrapeTeamStats

# Get skater stats
skaters = scrapeTeamStats("MTL", "20252026", session=2, goalies=False)
print("Top 10 scorers:")
display(skaters
        .nlargest(10, 'points')[['playerId', 'firstName.default', 'lastName.default', 'positionCode', 
                                  'gamesPlayed', 'goals', 'assists', 'points']]
        .assign(pointsPerGame=lambda df: df['points'].div(df['gamesPlayed'])))

Top 10 scorers:

,playerId,firstName.default,lastName.default,positionCode,gamesPlayed,goals,assists,points,pointsPerGame
8,8480018,Nick,Suzuki,C,38,11,31,42,1.11
13,8481540,Cole,Caufield,R,38,18,19,37,0.97
22,8483457,Lane,Hutson,D,38,5,31,36,0.95
27,8484984,Ivan,Demidov,R,38,10,22,32,0.84
23,8483515,Juraj,Slafkovský,L,38,13,15,28,0.74
11,8480865,Noah,Dobson,D,38,7,18,25,0.66
19,8482775,Oliver,Kapanen,C,38,11,9,20,0.53
2,8476875,Mike,Matheson,D,36,4,14,18,0.50
17,8482737,Zachary,Bolduc,R,38,10,7,17,0.45
0,8475848,Brendan,Gallagher,R,38,2,10,12,0.32

In [ ]:
# Get goalie stats
goalies = scrapeTeamStats("MTL", "20252026", session=2, goalies=True)
print("Goalie statistics:")
display(goalies[['playerId', 'firstName.default', 'lastName.default', 'gamesPlayed', 'wins', 'losses',
                 'overtimeLosses', 'goalsAgainstAverage', 'savePercentage']])

Goalie statistics:

,playerId,firstName.default,lastName.default,gamesPlayed,wins,losses,overtimeLosses,goalsAgainstAverage,savePercentage
0,8478470,Samuel,Montembeault,15,5,6,1,3.65,0.86
1,8482487,Jakub,Dobes,20,12,5,3,2.90,0.89
2,8484170,Jacob,Fowler,6,3,1,2,2.64,0.90

## 6. Play-by-Play Data

Retrieve detailed play-by-play data for a specific game, including all events like shots, goals, hits, and faceoffs.

In [ ]:
from scrapernhl.scrapers.games import scrapePlays

# Get a recent game ID from schedule
completed_games = schedule[schedule['gameState'] == 'OFF']
if len(completed_games) > 0:
    game_id = completed_games.iloc[0]['id']
    print(f"Scraping game {game_id}...")
    
    pbp = scrapePlays(game_id)
    print(f"Game has {len(pbp)} events")
    
    # Show event types
    print("\nEvent counts:")
    display(pbp['typeDescKey'].value_counts())
    
    # Show first few events
    print("\nFirst 10 events:")
    display(pbp[['periodDescriptor.number', 'timeInPeriod', 'typeDescKey', 'details.eventOwnerTeamId', 'gameId']].head(10))
else:
    print("No completed games found in schedule")

Scraping game 2025020004...
Game has 328 events

Event counts:
typeDescKey
hit                62
faceoff            59
shot-on-goal       51
stoppage           46
blocked-shot       35
giveaway           25
missed-shot        24
goal                7
takeaway            5
penalty             4
period-start        3
delayed-penalty     3
period-end          3
game-end            1
Name: count, dtype: int64

First 10 events:
   periodDescriptor.number timeInPeriod   typeDescKey  \
0                        1        00:00  period-start
1                        1        00:00       faceoff
2                        1        00:17      giveaway
3                        1        00:19           hit
4                        1        00:27  shot-on-goal
5                        1        00:54  shot-on-goal
6                        1        00:55      stoppage
7                        1        00:55       faceoff
8                        1        01:00          goal
9                        1        01:00       faceoff

   details.eventOwnerTeamId      gameId
0                       NaN  2025020004
1                      8.00  2025020004
2                      8.00  2025020004
3                      8.00  2025020004
4                     10.00  2025020004
5                     10.00  2025020004
6                       NaN  2025020004
7                      8.00  2025020004
8                     10.00  2025020004
9                     10.00  2025020004

## 7. Draft Data

Access historical NHL draft data including player information, draft position, and team selections.

In [ ]:
from scrapernhl.scrapers.draft import scrapeDraftData

# Get 2025 first round picks
draft_2025_r1 = scrapeDraftData("2025", 1)
print(f"2025 Draft - Round 1: {len(draft_2025_r1)} picks")
display(draft_2025_r1[['round', 'pickInRound', 'overallPick', 'teamAbbrev', 'firstName.default', 'lastName.default',
                       'positionCode', 'countryCode', 'height', 'weight', 'year']].head(10))

2025 Draft - Round 1: 32 picks

,round,pickInRound,overallPick,teamAbbrev,firstName.default,lastName.default,positionCode,countryCode,height,weight,year
0,1,1,1,NYI,Matthew,Schaefer,D,CAN,74,186,2025
1,1,2,2,SJS,Michael,Misa,C,CAN,73,182,2025
2,1,3,3,CHI,Anton,Frondell,C,SWE,74,204,2025
3,1,4,4,UTA,Caleb,Desnoyers,C,CAN,74,182,2025
4,1,5,5,NSH,Brady,Martin,C,CAN,72,186,2025
5,1,6,6,PHI,Porter,Martone,RW,CAN,75,204,2025
6,1,7,7,BOS,James,Hagens,C,USA,71,186,2025
7,1,8,8,SEA,Jake,O'Brien,C,CAN,74,177,2025
8,1,9,9,BUF,Radim,Mrtka,D,CZE,78,218,2025
9,1,10,10,ANA,Roger,McQueen,C,CAN,78,198,2025

## 8. Using Polars (Alternative to Pandas)

Polars is a faster alternative to Pandas for large datasets. The scraper supports both output formats.

In [5]:
# Get data as Polars DataFrame (faster for large datasets)
teams_pl = scrapeTeams(output_format="polars")
print(f"Type: {type(teams_pl)}")
print(f"Shape: {teams_pl.shape}")

# Polars syntax
display(teams_pl.select(['name', 'abbrev','id', 'placeName', 'commonName']).head(5))

Type: <class 'polars.dataframe.frame.DataFrame'>
Shape: (32, 12)

shape: (5, 5)
┌───────────────────────────────┬────────┬─────┬──────────────────────────────┬────────────────────┐
│ name                          ┆ abbrev ┆ id  ┆ placeName                    ┆ commonName         │
│ ---                           ┆ ---    ┆ --- ┆ ---                          ┆ ---                │
│ struct[2]                     ┆ str    ┆ i64 ┆ struct[2]                    ┆ struct[2]          │
╞═══════════════════════════════╪════════╪═════╪══════════════════════════════╪════════════════════╡
│ {"New Jersey Devils","Devils  ┆ NJD    ┆ 1   ┆ {"New Jersey",null}          ┆ {"Devils",null}    │
│ d…                            ┆        ┆     ┆                              ┆                    │
│ {"New York                    ┆ NYI    ┆ 2   ┆ {"NY Islanders",null}        ┆ {"Islanders",null} │
│ Islanders","Islande…          ┆        ┆     ┆                              ┆                    │
│ {"New York Rangers","Rangers  ┆ NYR    ┆ 3   ┆ {"NY Rangers",null}          ┆ {"Rangers",null}   │
│ d…                            ┆        ┆     ┆                              ┆                    │
│ {"Philadelphia                ┆ PHI    ┆ 4   ┆ {"Philadelphia","Philadelphi ┆ {"Flyers",null}    │
│ Flyers","Flyers…              ┆        ┆     ┆ e"…                          ┆                    │
│ {"Pittsburgh                  ┆ PIT    ┆ 5   ┆ {"Pittsburgh",null}          ┆ {"Penguins",null}  │
│ Penguins","Pengui…            ┆        ┆     ┆                              ┆                    │
└───────────────────────────────┴────────┴─────┴──────────────────────────────┴────────────────────┘

## 9. Backward Compatibility Test

The package maintains backward compatibility with older import styles for ease of migration.

In [6]:
# The old import style still works
from scrapernhl import scrapeTeams, scrapeSchedule

teams_old_style = scrapeTeams()
print(f"Old import style works: {len(teams_old_style)} teams scraped")

Old import style works: 32 teams scraped